<div class="container">
    <fieldset class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" required>
    </fieldset>
    <fieldset class="form-group">
        <label>Target Date</label>
        <input  type="date" 
                [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'" 
                (ngModelChange)="todo.targetDate = $event"
                class="form-control" 
                name="targetDate" required>
    </fieldset>
    <button class="btn btn-success" (click)="saveTodo()">save</button>
</div>